<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 引入默认配置 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- 引入输出到控制台的配置 -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <!-- 引入输出到文件的配置 -->
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>

    <!-- 指定默认输出模式 -->
    <root level="INFO" >
        <!-- 默认输出模式为：CONSOLE -->
        <appender-ref ref="CONSOLE" />
        <!-- 默认输出模式为：FILE -->
        <appender-ref ref="FILE" />
    </root>

    <!-- 单独指定，日志名为 org.springframework.web 的日志，输出级别：DEBUG -->
    <logger name="org.springframework.web" level="DEBUG"/>
</configuration>